# autoload functions stored outside this version control repository
/autoload/gitignored.vim

# script to source mappings from outside this repository
/plugin/mappings.vim

# runtime files that are not tracked in this git repository
/pack/gitignored/

# "timestamp" for last successful test run
/tests/.success

# history for the netrw plugin
/.netrwhist

# spell files rendered from word lists
/.en.utf-8.add.spl
/doc/decisions/.en.utf-8.add.spl
/tests/.en.utf-8.add.spl
/tests/manual/.en.utf-8.add.spl

# created by ansible-lint
/.ansible/
