[submodule "runtimepath/bundle/syntastic"]
	path = runtimepath/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic/
[submodule "runtimepath/bundle/vim-pathogen"]
	path = runtimepath/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "runtimepath/bundle/vim-fugitive"]
	path = runtimepath/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "runtimepath/bundle/vim-colors-solarized"]
	path = runtimepath/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "runtimepath/bundle/vim-gitgutter"]
	path = runtimepath/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "runtimepath/bundle/dbext.vim"]
	path = runtimepath/bundle/dbext.vim
	url = https://github.com/maxwell-k/dbext.vim
[submodule "runtimepath/bundle/summerfruit256.vim"]
	path = runtimepath/bundle/summerfruit256.vim
	url = https://github.com/vim-scripts/summerfruit256.vim
[submodule "runtimepath/bundle/vim-maktaba"]
	path = runtimepath/bundle/vim-maktaba
	url = https://github.com/google/vim-maktaba/
[submodule "tests/pack/testing/opt/vader"]
	path = tests/pack/tests/opt/vader
	url = https://github.com/junegunn/vader.vim
