# autoload functions stored outside this version control repository
/autoload/gitignored.vim

# filetype settings stored outside this version control repository
/filetype.gitignored.vim

# ftplugin settings stored outside this version control repository
/reorder.gitignored.vim

# script to source mappings from outside this repository
/plugin/mappings.vim

# clipboard integration installed via site.yaml
/plugin/osc52.vim

# integration with fzf, installed via site.yaml:
/plugin/fzf.vim

# spelling data like word lists is stored in a separate repository as it is
# very personal — for example individual's names
/spell/

# tasks managment information is stored in another repository
/done.txt
/todo.txt

# links to runtimepath directories in other repositories
/pack/gitignored/

# "timestamp" for last successful test run
/tests/.success

# history for the netrw plugin
/.netrwhist

# spell files rendered from word lists at .en.utf-8.add tests/.en.utf-8.add
/.en.utf-8.add.spl
/doc/decisions/.en.utf-8.add.spl
/tests/.en.utf-8.add.spl
/tests/manual/.en.utf-8.add.spl

# latest version from https://github.com/vim/vim/blob/master/runtime/syntax/yaml.vim
# to include https://github.com/vim/vim/commit/aa495124f80812b9c8c1942e6c4f9ce2242ea01f
/syntax/yaml.vim
